header {
  position: fixed;
  top: 0;
  background-color: rgb(48, 46, 46);
  z-index: 1;
}

.form-container {
  position: fixed;
  top: 0;
}

.content {
  padding-top: 100px;
  margin-top: 60px;
  z-index: -1;
}

header + .content {
  padding-top: 110px;
}

.card {
  width: 100%;
}

.card-header {
  font-size: 1.5em;
}

.hidden {
  display: none;
}

.reveal {
  display: block;
}